<%- include('partials/header') %>
<section class="flex-column">
    <h1>Añadir nueva receta</h1>
    <form action="/add" method="post" class="flex-column">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" required>
        <label for="ingredients">Ingredientes</label>
        <textarea name="ingredients" id="ingredients" required></textarea>
        <label for="steps">Pasos</label>
        <textarea name="steps" id="steps" required></textarea>
        <label for="image">Imagen</label>
        <input type="text" name="image" id="image">
        <label for="cooking_time">Tiempo estimado de preparación</label>
        <input type="number" name="cooking_time" id="cooking_time" placeholder="minutos" required>

        <button type="submit">Añadir</button>
    </form>
</section>
<%- include('partials/footer') %>