<%- include('partials/header') %>
<section class="home-page">
	<span class="tx-sm">Recetas de cocina</span>
	<h1 class="tx-xl">Chef's Notebook</h1>
	<p class="tx-sm">Registra tus experiencias culinarias</p>
</section>
<section class="content">
	<article>
		<h1>Opciones</h1>
		<section id="container-relative">
			<a id="button-corner" href="/add-recipe">
				<i class="fa-solid fa-plus"></i>
			</a>
			<div class="card flex-column">
				<h2 class="bg-sec-brown tx-sm">Añadir receta</h2>
				<div class="bg-sec-white flex-column align-center">
					<p class="tx-sm">
						Haz click en el botón para añadir una nueva receta
					</p>
					<img
						id="add-recipe-img"
						src="https://static.vecteezy.com/system/resources/previews/021/952/528/non_2x/delicious-cobb-salad-cobb-salad-image-tomatoes-bacon-hard-boiled-eggs-blue-cheese-png.png"
						alt="plato-comida"
					/>
				</div>
			</div>
		</section>

		<div class="card flex-column">
			<h2 class="bg-pr-green tx-sm">Recetas totales</h2>
			<div class="bg-sec-white flex-row flex-row align-center">
				<p class="tx-lg">10</p>
				<p>Recetas registradas</p>
			</div>
		</div>
	</article>
	<article id="favorites" >
        <h1>Favoritos</h1>
            <%- include('partials/favorites', { recipes })%>
    </article>
	<article id="recipes" class="flex-column">
		<h1>Recetas</h1>
		<div id="list-recipes" class="card flex-column grow">
			<h2 class="bg-sec-brown tx-sm">
				<input
					type="search"
					class="grow tx-xs tx-bold"
					name="search-recipe"
					id="search-recipe"
					placeholder="Qué comemos hoy?"
				/>
			</h2>
			<div style="overflow: auto;" class="bg-sec-white flex-column align-center h-100">
				<%- include('partials/list-recipes', { recipes })%>
			</div>
		</div>
	</article>
</section>
<%- include('partials/footer') %>
