<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles.css" />
		<title>Chef's notebook</title>
	</head>
	<body>
        <header class="main-header">
            <span id="title-header">Chef's notebook</span>
            <ul id="icons-header">
                <p><a href="">Perfil</a></p>
                <p><a href="">Settings</a></p>
            </ul>
        </header>
		<section class="home-page">
			<span id="text">Recetas de cocina</span>
			<h1 id="title">Chef's Notebook</h1>
			<p id="text">Registra tus experiencias culinarias</p>
		</section>
		<section class="content">
			<article>Funciones</article>
			<article>Favoritos</article>
			<article>Recetas</article>
		</section>
        <footer class="main-footer">
            <span class="card bg-pr-brown tx-sm">2025 Chef's notebook</span>
            <span class="card grow bg-sec-white tx-sm">Made with 💘 by Naim Torres</span>
        </footer>
	</body>
</html>
