<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Chef's notebook</title>
</head>
<header class="main-header">
    <span id="title-header">Chef's notebook</span>
    <ul id="icons-header">
        <p>Perfil</p>
        <p>Settings</p>
    </ul>
</header>
<body>
    <section class="home-page">
        <span id="text">Recetas de cocina</span>
        <h1 id="title">Chef's Notebook</h1>
        <p id="text">Registra tus experiencias culinarias</p>
    </section>
    <section class="content">
        <article>Funciones</article>
        <article>Favoritos</article>
        <article>Recetas</article>
    </section>
</body>
<footer class="main-footer">
    <span>2021 Chef's notebook</span>
    <span>Made with 💟 by Naim Torres</span>
</footer>
</html>