<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles.css" />
		<title>Chef's notebook</title>
	</head>
	<body>
		<header class="main-header">
            
			<span id="title-header"><a href="/">Chef's notebook</a></span>
			<ul id="icons-header">
				<p><a href="">Perfil</a></p>
				<p><a href="">Settings</a></p>
			</ul>
		</header>
        <main>