<% if(recipes.length > 0) { %> 
    <% recipes.forEach((recipe) => { %>
        <a href="/recipe?id=<%= recipe.id%>" id='row-recipe' class="flex-row" data-name="<%= recipe.name %>">
            <h3 class="tx-sm"><%= recipe.name %></h3>
            <div class="flex-row">
                <i class="fa-regular fa-clock flex-row "></i>
                <p class="tx-sm"><%= recipe.cooking_time %></p>
            </div>
        </a>
        <% }) %>
<% } else { %>
<p class="tx-sm">No hay recetas registradas</p>
<% } %>
