<% if(recipes.length > 0) { %> 
    <% recipes.forEach((recipe) => { %>
        <a href="/recipe?id=<%= recipe.id%>" id='row-recipe' class="flex-row">
            <h3 class="tx-sm"><%= recipe.name %></h3>
            <p class="tx-sm"><%= recipe.cooking_time %></p>
        </a>
        <% }) %>
<% } else { %>
<p class="tx-sm">No hay recetas registradas</p>
<% } %>
